@using ChatterBox.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model ChatterBox.Models.Channel

@{
	var _UserId = MyUserManager.GetUserId(User);
	var _User = await MyUserManager.FindByIdAsync(_UserId);
	IList<string> _Roles = await MyUserManager.GetRolesAsync(_User);
	string _Role = _Roles[0];
}

<div class="card d-flex flex-row justify-content-between align-items-center mb-3 p-3">
	<!-- Channel Details Section -->
	<div>
		<h2 class="mb-1">@Model.Name</h2>
		<p class="text-muted">@Model.Category.Title</p>
	</div>

	<!-- Actions Section -->
	<div class="d-flex flex-row align-items-center gap-3">
		@if (ViewBag.UserChannels.Contains(Model))
		{
			<button class="btn btn-secondary btn-sm" style="font-size: 1.3rem;" disabled>Joined</button>
		}
		else if (ViewBag.PendingChannels.Contains(Model))
		{
			<button class="btn btn-warning btn-sm" style="font-size: 1.3rem;" disabled>Pending</button>
		}
		else
		{
			<form asp-controller="Requests" asp-action="New" class="d-inline">
				<input type="hidden" name="_ChannelId" value="@Model.Id" />
				<input type="hidden" name="_UserId" value="@_UserId" />
				<input type="hidden" name="RequestType" value="Join" />
				<button class="btn btn-primary btn-sm" style="font-size: 1.3rem;" type="submit">Join</button>
			</form>
		}

		@if (_Role == "Admin")
		{
			<form asp-controller="Channels" asp-action="Delete" asp-route-_Id="@Model.Id" method="post" class="d-inline">
				<button class="btn btn-danger btn-sm" style="font-size: 1.3rem;" type="submit">Delete</button>
			</form>
		}
	</div>
</div>