@using ChatterBox.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Message

@{
	string _MessageUserName = "";
	if (Model.User != null && Model.User.UserName != null)
	{
		_MessageUserName = Model.User.UserName;
		_MessageUserName = _MessageUserName.Split("@")[0];
		_MessageUserName = _MessageUserName[0].ToString().ToUpper() + _MessageUserName.Substring(1);
	}

	string _MessageUserRole = "";
	if (Model.Channel != null && Model.Channel.BindChannelUser != null)
	{
		BindChannelUser _Bind = Model.Channel.BindChannelUser
									.Where(b => b.UserId == Model.UserId).First();
		if (_Bind.Role != null)
		{
			_MessageUserRole = _Bind.Role;
		}
	}

	string _UserRole = "";
	string? _UserId = MyUserManager.GetUserId(User);
	if (_UserId != null && Model.Channel != null && Model.Channel.BindChannelUser != null)
	{
		BindChannelUser _Bind = Model.Channel.BindChannelUser
								.Where(b => b.UserId == _UserId).First();
		if(_Bind.Role != null) {
			_UserRole = _Bind.Role;
		}
	}

	string? _ApplicationRole = MyUserManager.GetRolesAsync(MyUserManager.GetUserAsync(User).Result).Result.First().ToString();

	string _Time = "";
	DateTime _Date = Model.Date;
	if (_Date.Date == DateTime.Today)
	{
		_Time = _Date.ToString("HH:mm");
	}
	else
	{
		_Time = _Date.ToString("M");
	}
}

@if (Model.UserId == MyUserManager.GetUserId(User))
{
	<!-- Message from the current user -->
	<div class="ms-auto mb-1 me-1 p-1" style="background: #caecf3; border-radius: 0.2rem;">
		<div class="d-flex align-items-center justify-content-end">
			@if (_MessageUserRole == "Admin")
			{
				<small class="me-1 badge rounded-pill bg-success">Admin</small>
			}
			else if (_MessageUserRole == "Moderator")
			{
				<small class="me-1 badge rounded-pill bg-danger">Mod</small>
			}
			<a asp-controller="Users" asp-action="Show" asp-route-_Id="@Model.UserId" style="color: black; text-decoration: none;">
				@_MessageUserName
			</a>
			<a class="bi bi-three-dots-vertical" style="color: black;" data-bs-toggle="collapse" href="@($"#collapseForm{@Model.Id}")" role="button" aria-expanded="false" aria-controls="@($"collapseForm{@Model.Id}")"></a>
		</div>
		<div class="collapse" id="@($"collapseForm{@Model.Id}")" style="margin: 0.3rem 0 0.5rem 0">
			<div class="d-flex justify-content-right">
				<form asp-controller="Messages" asp-action="Edit" asp-route-Id="@Model.Id" method="get">
					<button class="btn btn-dark ChatterBox_btn_light" style="background-color: transparent; font-size: 15px; margin-right: 0.5rem" type="submit">Edit</button>
				</form>
				<form asp-controller="Messages" asp-action="Delete" asp-route-_Id="@Model.Id" method="post">
					<button class="btn btn-danger" style="font-size: 15px" type="submit">Delete</button>
				</form>
			</div>
		</div>
		@if (Model.FilePath != null && Model.FileType != null)
		{
			@if (Model.FileType.Contains("image"))
			{
				<div class="mt-1" style="text-align: right;">
					<img width="300" height="225" src="@Model.FilePath" alt="Image not found" />
				</div>
			}
			else if (Model.FileType.Contains("video"))
			{
				<div class="mt-1" style="text-align: right;">
					<video width="300" height="225" controls>
						<source src="@Model.FilePath" type="@Model.FileType" />
					</video>
				</div>
			}
		}
		@if (Model.Content != null)
		{
			<div style="text-align: right; margin: 0.2rem 0.3rem 0 0; ">@Model.Content</div>
		}
		<div class="text-muted" style="text-align: right; margin: 0 0.3rem 0.1rem 0">@_Time</div>
	</div>
}
else
{
	<div class="me-auto mb-1 ms-1 p-1" style="background-color: whitesmoke; border-radius: 0.2rem;">
		<div class="d-flex align-items-center justify-content-start">
			@if(_UserRole != "Member" || _ApplicationRole == "Admin") 
			{
				<a class="bi bi-three-dots-vertical" style="color: black;" data-bs-toggle="collapse" href="@($"#collapseForm{@Model.Id}")" role="button" aria-expanded="false" aria-controls="@($"collapseForm{@Model.Id}")"></a>
			}
			<a style="color: black; text-decoration: none;" asp-controller="Users" asp-action="Show" asp-route-_Id="@Model.UserId">
				@_MessageUserName
			</a>
			@if (_MessageUserRole == "Admin")
			{
				<small class="ms-1 badge rounded-pill bg-success">Admin</small>
			}
			else if (_MessageUserRole == "Moderator")
			{
				<small class="ms-1 badge rounded-pill bg-danger">Mod</small>
			}
		</div>
		<div class="collapse" id="@($"collapseForm{@Model.Id}")" style="margin: 0.3rem 0 0.5rem 0">
			<div class="d-flex" style="justify-content: left">
				<form asp-controller="Messages" asp-action="Edit" asp-route-Id="@Model.Id" method="get">
					<button class="btn btn-dark ChatterBox_btn_light" style=" background-color: transparent; font-size: 15px; margin-right: 0.5rem" type="submit">Edit</button>
				</form>
				<form asp-controller="Messages" asp-action="Delete" asp-route-_Id="@Model.Id" method="post">
					<button class="btn btn-danger" style="font-size: 15px" type="submit">Delete</button>
				</form>
			</div>
		</div>
		@if (Model.FilePath != null && Model.FileType != null)
		{
			@if (Model.FileType.Contains("image"))
			{
				<div class="mt-1" style="text-align: left;">
					<img width="300" height="225" src="@Model.FilePath" alt="Image not found" />
				</div>
			}
			else if (Model.FileType.Contains("video"))
			{
				<div class="mt-1" style="text-align: left;">
					<video width="300" height="225" controls>
						<source src="@Model.FilePath" type="@Model.FileType" />
					</video>
				</div>
			}
		}
		@if (Model.Content != null)
		{
			<div style="text-align: left; margin: 0.2rem 0 0 0.3rem; ">@Model.Content</div>
		}
		<div class="text-muted" style="text-align: left; margin: 0 0 0.1rem 0.3rem">@_Time</div>
	</div>
}
