@using ChatterBox.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model ChatterBox.Models.ApplicationUser

@{
    string _UserId = Model.Id;
    string _UserName = Model.UserName;
    _UserName = _UserName.Split("@")[0];
    _UserName = _UserName[0].ToString().ToUpper() + _UserName.Substring(1);
}

<div class="ChatterBox_leftPanel">
    <div class="d-flex flex-column justify-content-start gap-2">
        <div class="ChatterBox_leftSubPanel">

            <a class="bi bi-person-circle text-center" style="font-size: 80px; text-decoration: none; color: white" asp-controller="Users" asp-action="Show" asp-route-_Id="@_UserId"></a>

            <h2 style="color:white">@_UserName</h2>

            <h4 style="color: #4c5c75">@Model.UserName</h4>

        </div>

        <div class="ChatterBox_leftSubPanel align-items-start p-4">

            <a class="btn bi bi-person-fill ChatterBox_link" asp-controller="Users" asp-action="Show" asp-route-_Id="@Model.Id"> Account </a>

            <a class="btn bi bi-envelope-fill ChatterBox_link" asp-controller="Users" asp-action="Inbox" asp-route-Id="@_UserId"> Inbox </a>

            <a class="btn bi bi-wechat ChatterBox_link" asp-controller="Channels" asp-action="List"> Chats </a>

            <br />

            @if (User.IsInRole("Admin"))
            {
                <h5 style="color: #4c5c75">Administrator</h5>

                <a class="btn bi bi-people-fill ChatterBox_link" asp-area="" asp-controller="Users" asp-action="List"> Users </a>

                <a class="btn bi bi-grid-fill ChatterBox_link" asp-area="" asp-controller="Categories" asp-action="List"> Categories </a>
            }
        </div>
    </div>

    <div class="ChatterBox_leftSubPanel align-items-start p-4">
        <a href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit();" class="btn bi bi-box-arrow-right ChatterBox_link"> Log Out </a>

        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { AreaAttribute = "" })" method="post" style="display: none;">
        </form>
    </div>
</div>
