@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model ChatterBox.Models.ApplicationUser

@{
    string _UserName = Model.UserName;
    _UserName = _UserName.Split("@")[0];
    _UserName = _UserName[0].ToString().ToUpper() + _UserName.Substring(1);

    var _User = await MyUserManager.FindByIdAsync(Model.Id);
    IList<string> _Roles = await MyUserManager.GetRolesAsync(_User);
    string _Role = _Roles[0];
}

@if (Model.Id != MyUserManager.GetUserId(User))
{
    <div class="card m-3 p-4" style="background: #24344d;">
        <h2 class="mb-0" style="color: white">@_UserName</h2>
        <hr style="color: white">
        <h5 class="mb-3" style="color: white">Role: @_Role</h5>
        <div class="d-flex justify-content-start">
            @if (_Role == "User")
            {
                <form asp-controller="Users" asp-action="Promote" asp-route-_Id="@Model.Id" method="post" style="margin-right: 5px">
                    <button class="btn ChatterBox_btn_dark" style="font-size: 15px" type="submit">Make Admin</button>
                </form>
            }
            else if (_Role == "Admin")
            {
                <form asp-controller="Users" asp-action="Demote" asp-route-_Id="@Model.Id" method="post" style="margin-right: 5px">
                    <button class="btn ChatterBox_btn_dark" style="font-size: 15px" type="submit">Make User</button>
                </form>
            }
            <form asp-controller="Users" asp-action="Delete" asp-route-_Id="@Model.Id" method="post">
                <button class="btn ChatterBox_btn_del" style="font-size: 15px" type="submit">Delete</button>
            </form>
        </div>
    </div>
}
