@using ChatterBox.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Channel

<div class="ChatterBox_sitecard">

    @Html.Partial("SideBar", MyUserManager.GetUserAsync(User).Result)

    <div class="ChatterBox_rightPanel">
        <div class="ChatterBox_upperSubPanel">
            <h1>Channels</h1>
            <a class="bi bi-plus-lg ChatterBox_btn_icon" asp-controller="Channels" asp-action="New"></a>
        </div>
        <div class="ChatterBox_upperSubPanel">
            <h1>@Model.Name</h1>
            <a class="bi bi-arrow-return-left ChatterBox_btn_icon" asp-controller="Channels" asp-action="Show" asp-route-_Id="@Model.Id"></a>
        </div>
        <div class="ChatterBox_lowerSubPanel"> 
            <form method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Channels" name="search"
                    value="@ViewBag.SearchString">
                    <button class="btn btn-dark ChatterBox_btn_light" type="submit">Search</button>
                </div>
            </form>

            <br />

            @foreach(ChatterBox.Models.Channel _Channel in ViewBag.UserChannels)
            {
                @Html.Partial("ChannelBox", _Channel)
            }
        </div>
        <div class="ChatterBox_lowerSubPanel">
            <h2>Info</h2>

            <hr />

            <p><strong>Name:</strong> <span>@Model.Name</span></p>

            <p><strong>Category:</strong> <span>@Model.Category.Title</span></p>

            <p><strong>Description:</strong> <span>@Model.Description</span></p>

            <br />

            <h2>Members</h2>

            <hr />

            @foreach(ChatterBox.Models.BindChannelUser _Bind in ViewBag.AllBinds)
            {
                <div class="card">
                    <p><span>@_Bind.User.UserName</span></p>
                    <p><span>Role: @_Bind.Role</span></p>
                </div>
            }
        </div>
    </div>
</div>
