@using ChatterBox.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> MyUserManager

@model Category

<div class="ChatterBox_sitecard">

    @Html.Partial("SideBar", MyUserManager.GetUserAsync(User).Result)

    <div class="ChatterBox_rightPanel">
        <div class="ChatterBox_upperSubPanel">
            <h1>Channels</h1>
            <a class="bi bi-plus-lg ChatterBox_btn_icon" asp-controller="Channels" asp-action="New"></a>
        </div>
        <div class="ChatterBox_upperSubPanel">
            <h1>Edit @Model.Title</h1>
        </div>
        <div class="ChatterBox_lowerSubPanel">
            <form method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Channels" name="search" value="@ViewBag.SearchString" />
                    <button class="btn btn-dark ChatterBox_btn_light" type="submit">Search</button>
                </div>
            </form>

            <br />

            @foreach (ChatterBox.Models.Channel _Channel in ViewBag.UserChannels)
            {
                @Html.Partial("ChannelCard", _Channel)
            }
        </div>
        <div class="ChatterBox_lowerSubPanel">
            <form asp-controller="Categories" asp-action="Edit" asp-route-_Id="@Model.Id" method="post">

                <h3>Change the title of the category!</h3>

                <br />

                <div class="form-group">
                    @Html.Label("Title", "Title: ")
                    @Html.Editor("Title")
                    <br />
                    @Html.ValidationMessageFor(c => c.Title, "", new { @class = "text-danger" })
                </div>

                <br />

                <div class="flex-column">
                    <button class="btn btn-dark ChatterBox_btn_light" style="margin-right: 1vw;" type="submit">Done</button>
                    <button class="btn btn-danger" asp-controller="Categories" asp-action="List">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
